.login-card{
    // margin-top:100px;
    // margin-left:10%;
    // width:80%;
    background-color: rgba(255,255,255,1);
    // box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

    img{
        width: 100px;
        opacity: 0.8;
    }
}